<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
<form action="/">
    <input type="text" name="query" value="<%if (typeof query !== "undefined"){%><%= query%><%}%>">
    <button type="submit">Search</button>
</form>
<a href="/history">Check history</a>
<% if(typeof sorry !== "undefined") { %>
    <div>
        No connection to Flickr service
    </div>
<%}%>
<% if(typeof photos !== "undefined") { %>

    <form action="/likes" method="post">
        <div class="card-columns">
            <% photos.forEach(function (photo){ %>
                <div class="card">
                    <img src="<%= photo.url_c%>" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><%= photo.title%></h5>
                        <%if(!likedPhotosIds.includes(photo.id)){%>
                            <button type="submit" name="recordId" value="<%= photo.id%>">Like</button>
                        <%}%>
                        <%if(likedPhotosIds.includes(photo.id)){%>
                            <button type="submit" name="recordId" value="<%= photo.id%>">Remove like</button>
                        <%}%>
                    </div>
                </div>
            <% }) %>
        </div>
    </form>
<% } %>

<% if(typeof query !== "undefined") { %>
    <form action="/">
        <input type="hidden" name="query" value="<%= query %>">
        <% if(page > 1) { %>
            <button type="submit" name="page" value="<%= Number(page) - 1 %>">Prev</button>
        <% } %>
        <% if(page < pageAmount) { %>
            <button type="submit" name="page" value="<%= Number(page) + 1 %>">Next</button>
        <% } %>
    </form>
<% } %>
</body>
</html>